<!DOCTYPE html>
<html lang="es" class="baseFontStyles" style="color: #4A4A4A; font-family: helvetica, arial, sans-serif; font-size: 16px; line-height: 1.35;">
    <head>
        <title>Medifacil - #Asunto#</title>
        <meta charset="utf-8">

        <style>
            div, p, a, li, td { -webkit-text-size-adjust:none; }

            @media screen and (max-width: 750px) {
                .mainTable,.mailBody,.to100{
                    width:100% !important;
                }

            }
        </style>
        <style>
            @media screen and (max-width: 750px) {
                .mailBody{
                    padding: 20px 18px !important
                }
                .col3{
                    width: 100%!important
                }
            }

        </style>
    </head>
    <body style="background-color: #eeeeee; margin: 0;">
        <table width="750" class="to100" border="0" align="center" cellpadding="0" cellspacing="0" class="mainTable" style="border-spacing: 0;">
            <tr>
                <td style="padding: 0;">

                    <table class="to100" height="40" width="100%" cellpadding="14" cellspacing="0" border="0" style="border-spacing: 0;">
                        <tr>
                            <td style="padding: 0;">
                                <table height="40" width="100%" cellpadding="14" cellspacing="0" border="0" style="background-color: #222222; border-spacing: 0; padding-left: 25px; padding-right: 30px;">
                                    <tr style="background-color: #222222;">
                                        <td style="background-color: #222222; padding: 0;color: white; font-family: helvetica, arial, sans-serif; font-size: 15px; font-weight: 750;">Medifacil</td>
                                        <td style="background-color: #222222; color: white; font-family: helvetica, arial, sans-serif; font-size: 15px; font-weight: 750; padding: 0; text-align: right;">Detalle de Proforma</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <table class="to100" width="750" cellpadding="12" cellspacing="0" id="content" style="border-spacing: 0;">
                        <tr>
                            <td class="mailBody" style="background-color: #ffffff; padding: 30px;">
                                <h1 style="text-align: center;color: #4A4A4A; font-family: helvetica, arial, sans-serif; font-size: 22px; font-weight: bold; margin: 0; padding-bottom: 20px;">
                                    Detalle de Proforma: #PROFORMA#
                                </h1>

                                <table style="margin: 0; display:#ISPN# ">
                                    <tr>
                                        <td>
                                            Estimado(a) Sr(a),
                                            <br><b>#NOMBRE_CLIENTE#</b>
                                            <p>
                                                Es grato extenderle nuestro cordial saludo y, conforme a vuestra solicitud, remitimos la proforma que contiene la información relativa a las características del vehículo seleccionado por usted, así como el precio, plazo de entrega y demás alcances de nuestra oferta*.
                                            </p>
                                            <p>
                                                La vigencia de la oferta se mantendrá por el término de  #DIAS_VALIDEZ_PROF# (#FECHA_FIN_PROF#) días calendarios salvo previa venta, por lo que, de encontrarse conforme con los términos de la misma, es necesario que nos brinde su aceptación expresa en dicho plazo, respondiendo a través de este mismo canal con el siguiente texto: <b>"Declaro mi conformidad y acepto la oferta" o, "Acepto la oferta".</b>.
                                            </p>
                                            <p>
                                                Medifacil se reserva la facultad de revocar la oferta en cualquier momento, antes de su aceptación.
                                            </p>
                                            En caso de requerir factura, sírvase precisar ello en la respuesta, proporcionando el número de Registro Único de Contribuyente - RUC. 
                                            <p>
                                                Quedamos a vuestra disposición,
                                            </p>

                                        </td>
                                    </tr>
                                </table>

                                <table style="margin: 0; display:#ISPJ# ">
                                    <tr>
                                        <td colspan="2">
                                            <b> Estimados Sres.</b>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>
                                            Razón Social: 
                                        </td>
                                        <td>
                                            #NOMBRE_CLIENTE#
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            RUC: 
                                        </td>
                                        <td>
                                            #RUC#
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Domicilio: 
                                        </td>
                                        <td>
                                            #DOMICILIO#
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <br>
                                            <p>Atención.- #DIRIGIDO# - #CARGODIRIGIDO#</p>
                                            <p>Es grato extenderles nuestro cordial saludo y, conforme a vuestra solicitud, remitimos la proforma 
                                                que contiene la información relativa a las características del vehículo seleccionado por usted, 
                                                así como el precio, plazo de entrega, y demás alcances de nuestra oferta*.
                                            </p>
                                            <p>
                                                La vigencia de la oferta se mantendrá por el término de #DIAS_VALIDEZ_PROF# (#FECHA_FIN_PROF#) días calendarios, por lo que, de encontrarse conforme con los términos de la misma, es necesario que, en representación de su empresa, nos brinde su aceptación expresa en dicho plazo, 
                                                respondiendo a través de este mismo canal: <b>"Declaro mi conformidad y acepto la oferta" o, "Acepto la oferta"</b>. 
                                            </p>

                                            <p>
                                                Medifacil se reserva la facultad de revocar la oferta en cualquier momento, antes de su aceptación.
                                            </p>

                                            <p>
                                                En caso de requerir factura, sírvase precisar ello en la respuesta, proporcionando su número de Registro Único de Contribuyente. 
                                            </p>

                                            <p>
                                                Quedamos a vuestra disposición, 
                                            </p>

                                        </td>
                                    </tr>

                                </table>

                                <div style="padding: 10px 0;">

                                </div>

                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 10px;background-color: #e1efff; border-radius: 5px 5px 0px 0px;">
                                    <tr>
                                        <td>
                                            <div class="to100" style="display:inline-block;width: 330px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">Marca</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#NOMBRE_MARCA#</p>
                                            </div>
                                            <div class="to100" style="display:inline-block;width: 330px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">MODELO</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#NOMBRE_MODELO#</p>
                                            </div>
                                            <div class="to100" style="display:#IS_NUEVO#;width: 330px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">CONFIGURACIÓN</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#CONFIGURACION#</p>
                                            </div>
											<div class="to100" style="display:#IS_USADO#;width: 330px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">TIPO</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#TIPO_VEH#</p>
                                            </div>
                                            <div class="to100" style="display:#IS_COLOR#;width: 330px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">COLOR</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#COLOR#</p>
                                            </div>


                                        </td>
                                    </tr>
                                </table>
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 10px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                    <tr>
                                        <td style="padding: 0;">
                                            <div class="to100" style="display:inline-block;width: 660px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">Cantidad: #CANTIDAD#</span>
                                                </p><br>
                                                
                                            </div>
                                            <div style="display:#IS_AUTOS#">
                                                <div class="to100" style="display:inline-block;width: 330px">
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio de Venta (US$)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO#</p>
                                                </div>
                                                <div class="to100" style="display:inline-block;width: 330px">
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio de Venta (Soles)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO_SOLES#</p>
                                                </div>
                                                <div class="to100" style="display:#IS_DESCUENTO#;width: 330px" >
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio Especial (US$)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO_ESPECIAL#</p>
                                                </div>
                                                <div class="to100" style="display:#IS_DESCUENTO#;width: 330px">
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio Especial (Soles)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO_ESPECIAL_SOLES#</p>
                                                </div>
                                            </div>

                                            <table width="100%" style="display:#IS_COMERCIAL#;">
                                                <tr>
                                                    <td style="width: 40%;">Valor Venta</td>
                                                    <td style="width: 10%;">US$</td>
                                                    <td style="width: 20%;">#VALOR_NETO#</td>
                                                    <td style="width: 10%;">S/.</td>
                                                    <td style="width: 20%;">#VALOR_NETO_EQUI#</td>
                                                </tr>
                                                #GASTOS#
                                                <tr>
                                                    <td><b>#ETIQUETA_VALOR#</b></td>
                                                    <td><b>US$</b></td>
                                                    <td><b>#PRECIO_SUMA#</b></td>
                                                    <td><b>S/.</b></td>
                                                    <td><b>#PRECIO_SUMA_EQUI#</b></td>
                                                </tr>
                                                <tr>
                                                    <td>Precio Lista</td>
                                                    <td>US$</td>
                                                    <td>#PRECIO#</td>
                                                    <td>S/.</td>
                                                    <td>#PRECIO_SOLES#</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Precio Total por (#CANTIDAD#) unidades</b></td>
                                                    <td><b>US$</b></td>
                                                    <td><b>#TOTAL_VENTA#</b></td>
                                                    <td><b>S/.</b></td>
                                                    <td><b>#TOTAL_EQUI#</b></td>
                                                </tr>
                                            </table>
                                            <table width="100%" style="display:#IS_COMERCIAL_SEMINUEVO#;">
                                                <tr>
                                                    <td style="width: 40%;">Valor Venta</td>
                                                    <td style="width: 10%;">US$</td>
                                                    <td style="width: 20%;">#VALOR_NETO#</td>
                                                    <td style="width: 10%;">S/.</td>
                                                    <td style="width: 20%;">#VALOR_NETO_EQUI#</td>
                                                </tr>
                                                #GASTOS#
                                                <tr>
                                                    <td><b>#ETIQUETA_VALOR#</b></td>
                                                    <td><b>US$</b></td>
                                                    <td><b>#PRECIO_SUMA#</b></td>
                                                    <td><b>S/.</b></td>
                                                    <td><b>#PRECIO_SUMA_EQUI#</b></td>
                                                </tr>
                                                
                                                <tr>
                                                    <td><b>Precio Total por (#CANTIDAD#) unidades</b></td>
                                                    <td><b>US$</b></td>
                                                    <td><b>#TOTAL_VENTA#</b></td>
                                                    <td><b>S/.</b></td>
                                                    <td><b>#TOTAL_EQUI#</b></td>
                                                </tr>
                                            </table>
                                            <div style="display:#IS_AUTOS_SEMINUEVOS#">
                                                <div class="to100" style="display:inline-block;width: 330px">
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio de Venta (US$)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO#</p>
                                                </div>
                                                <div class="to100" style="display:inline-block;width: 330px">
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio de Venta (Soles)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO_SOLES#</p>
                                                </div>
                                                <div class="to100" style="display:#IS_DESCUENTO#;width: 330px" >
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio Especial (US$)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO_ESPECIAL#</p>
                                                </div>
                                                <div class="to100" style="display:#IS_DESCUENTO#;width: 330px">
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 18px; line-height: 1.35; margin: 0;">
                                                        <span style="font-weight: bold;">Precio Especial (Soles)</span>
                                                    </p>
                                                    <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">#PRECIO_ESPECIAL_SOLES#</p>
                                                </div>
                                            </div>

                                            <br>
                                            <br>
                                            <div class="to100" style="display:inline-block;width: 660px">
                                                #NOTA_FACTURACION#
                                            </div>

                                        </td>

                                    </tr>


                                </table>
								<br>
								<div style="display:#IS_NUEVO#">
								<b>Características</b>
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 10px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                    <tr>
                                        <td style="padding: 0;">
                                            #CARACTERISTICAS#
                                        </td>

                                    </tr>

                                </table>
                                <br><b>Detalle de Equipamiento</b>
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 10px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                    #EQUIPAMIENTO#
                                </table>
								
								</div>
								<div style="display:#IS_USADO#">
								#FLOTA#
								
                                </div>
                                
                                <div style="#IS_CORTESIA_COMERCIAL#">


                                    <br><b>Cortesías Comerciales</b>
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 10px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                        <tr>
                                            <td style="padding: 0;">
                                                #CORTESIA_COMERCIAL#
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                                <div style="#IS_EQUI_LOCAL#">


                                    <br><b>Equipo Local</b>
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 10px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                        <tr>
                                            <td style="padding: 0;">
                                                #EQUIPOLOCAL#
                                            </td>

                                        </tr>

                                    </table>
                                </div>

                                <div style="#IS_EQUI_ESPECIAL#">
                                    <br><b>Equipo Especial</b>
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 10px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                        <tr>
                                            <td style="padding: 0;">
                                                #EQUIPOESPECIAL#
                                            </td>

                                        </tr>

                                    </table>
                                </div>
                                <br><b>Condiciones:</b>

                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="border-spacing: 0;padding: 15px 18px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                    <tr>
                                        <td style="padding: 0;">
                                            <div class="to100" style="display:inline-block;width: 660px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">FORMA DE PAGO</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 12px; line-height: 1.35; margin: 0;">#FORMA_PAGO#</p>
                                            </div>
                                            <div class="to100" style="display:#IS_ENTIDAD_FINANCIERA#;width: 660px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">ENTIDAD FINANCIERA</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 12px; line-height: 1.35; margin: 0;">#ENTIDAD_FINANCIERA#</p>
                                            </div>
                                            <div class="to100" style="display:inline-block;width: 660px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">VALIDEZ DE PROFORMA</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 12px; line-height: 1.35; margin: 0;">#VALIDEZ_PROFORMA#</p>
                                            </div>
                                            <div class="to100" style="display:inline-block;width: 660px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">
                                                    <span style="font-weight: bold;">PLAZO DE ENTREGA</span>
                                                </p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 12px; line-height: 1.35; margin: 0;">#PLAZO_ENTREGA#</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <br><b>TÉRMINOS Y CONDICIONES GENERALES</b>
                                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="text-align: justify;border-spacing: 0;padding: 15px 18px;background-color: #f5f5f5; border-radius: 0px 0px 5px 5px;">
                                    <tr>
                                        <td style="padding: 0;">
                                            <div class="to100" style="display:inline-block;width: 660px">
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">
                                                    #TEXTO_COMERCIAL#</p>
                                                <p style="font-family: helvetica, arial, sans-serif; font-size: 15px; line-height: 1.35; margin: 0;">
                                                    #TEXTO_LEGAL#</p>
                                            </div>

                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div style="-webkit-text-size-adjust: none; padding-bottom: 50px; padding-top: 20px; text-align: left;">
                        <p style="font-family: helvetica, arial, sans-serif; font-size: 12px; margin: 0;">En el caso de existir términos y condiciones o algún texto similar puede ir bajo este estilo de parrafo. © 2017 Medifacil Av. Nicolás Arriola 500, Distrito de La Victoria, Lima. Todos los derechos reservados.</p>

                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>